.App {
   display: grid;
   height: 100vh;
   grid-template-areas: "head head"
                        "nav  main";
   grid-template-rows: auto 1fr auto;
   grid-template-columns: 250px 1fr;
}
.App > header {
   grid-area: head;
}
.App > nav {
   grid-area: nav;
   height: 100%;
   background-color: #c5c5c5cc;
   overflow: auto;
}
.App > main {
   grid-area: main;
}